BOT_TOKEN=YOUR_BOT_TOKEN_HERE
RAPID_API_KEY=YOUR_REAL_RAPIDAPI_KEY_HERE
RAPID_HOST=chatgpt-42.p.rapidapi.com
RAPID_ENDPOINT=/matagvision
ADMIN_ID=7954134268
DB_PATH=bot.db
DAILY_LIMIT=5
ANALYSIS_TTL=3600
